/* font */
.font24R {
  font-size: 0.24rem;
}

.font28R {
  font-size: 0.28rem;
}

.font32R {
  font-size: 0.32rem;
}

.font36R {
  font-size: 0.36rem;
}

.font40R {
  font-size: 0.4rem;
}

.font44R {
  font-size: 0.44rem;
}

.font48R {
  font-size: 0.48rem;
}

.font52R {
  font-size: 0.52rem;
}

.font56R {
  font-size: 0.56rem;
}

.font60R {
  font-size: 0.6rem;
}

/* 对齐 */
.vAt {
  vertical-align: top;
}

.vAm {
  vertical-align: middle;
}

.vAb {
  vertical-align: baseline;
}
