/* padding 特殊 */
.p_15TM {
  padding-top: 0.15rem;
}

.p_88TM {
  padding-top: 0.88rem;
}

.p_88BM {
  padding-bottom: 0.88rem;
}

.p_98BM {
  padding-bottom: 0.98rem;
}

.p_100TM {
  padding-top: 1rem;
}

.p_120BM {
  padding-bottom: 1.2rem;
}

/* padding 0 */
.p_0AM {
  padding: 0 !important;
}

/* padding 10 */
.p_10LM {
  padding-left: 0.1rem;
}

.p_10RM {
  padding-right: 0.1rem;
}

.p_10TM {
  padding-top: 0.1rem;
}

.p_10BM {
  padding-bottom: 0.1rem;
}

.p_10LRM {
  padding: 0 0.1rem;
}

.p_10TBM {
  padding: 0.1rem 0;
}

.p_10AM {
  padding: 0.1rem;
}

/* padding 20 */
.p_20LM {
  padding-left: 0.2rem;
}

.p_20RM {
  padding-right: 0.2rem;
}

.p_20TM {
  padding-top: 0.2rem;
}

.p_20BM {
  padding-bottom: 0.2rem;
}

.p_20LRM {
  padding: 0 0.2rem;
}

.p_20TBM {
  padding: 0.2rem 0;
}

.p_20AM {
  padding: 0.2rem;
}

/* padding 30 */
.p_30LM {
  padding-left: 0.3rem;
}

.p_30RM {
  padding-right: 0.3rem;
}

.p_30TM {
  padding-top: 0.3rem;
}

.p_30BM {
  padding-bottom: 0.3rem;
}

.p_30LRM {
  padding: 0 0.3rem;
}

.p_30TBM {
  padding: 0.3rem 0;
}

.p_30AM {
  padding: 0.3rem;
}

/* margin 0 */
.m_0AM {
  margin: 0;
}

/* margin 10 */
.m_10LM {
  margin-left: 0.1rem;
}

.m_10RM {
  margin-right: 0.1rem;
}

.m_10TM {
  margin-top: 0.1rem;
}

.m_10BM {
  margin-bottom: 0.1rem;
}

.m_10LRM {
  margin: 0 0.1rem;
}

.m_10TBM {
  margin: 0.1rem 0;
}

.m_10AM {
  margin: 0.1rem;
}

/* margin 20 */
.m_20LM {
  margin-left: 0.2rem;
}

.m_20RM {
  margin-right: 0.2rem;
}

.m_20TM {
  margin-top: 0.2rem;
}

.m_20BM {
  margin-bottom: 0.2rem;
}

.m_20LRM {
  margin: 0 0.2rem;
}

.m_20TBM {
  margin: 0.2rem 0;
}

.m_20AM {
  margin: 0.2rem;
}

/* margin 30 */
.m_30LM {
  margin-left: 0.3rem;
}

.m_30RM {
  margin-right: 0.3rem;
}

.m_30TM {
  margin-top: 0.3rem;
}

.m_30BM {
  margin-bottom: 0.3rem;
}

.m_30LRM {
  margin: 0 0.3rem;
}

.m_30TBM {
  margin: 0.3rem 0;
}

.m_30AM {
  margin: 0.3rem;
}
